X_CLIENT_ID=
X_CLIENT_SECRET=
GITHUB_APP_ID=
GITHUB_APP_PRIVATE_KEY_B64=
GITHUB_APP_SLUG=grok-thyself
GITHUB_APP_CLIENT_ID=
GITHUB_APP_CLIENT_SECRET=
STRIPE_SECRET=
STRIPE_WEBHOOK_SIGNING_SECRET=
STRIPE_PRICE_ID=
JWT_SECRET=
APP_URL=https://grokthyself.com